name: application

services:
  qinglong:
    image: "ghcr.io/whyour/qinglong:2.20.1"
    container_name: "qinglong"
    volumes:
      - ./data:/ql/data
    ports:
      - "5700:5700"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "1"