/.idea

data
logs

docker/gitea/rootless/config/gitea/app.ini
.runner_token

docker/qbittorrent/config

docker/aria2/download

# jellyfin
docker/jellyfin/cache
docker/jellyfin/config
docker/jellyfin/media

docker/moviepilot/config
docker/moviepilot/core

local/download

docker/jellyfin/metatube/config

docker/dae/config

docker/sing-box/app/server/sing-box/*
!docker/sing-box/app/server/sing-box/
!docker/sing-box/app/server/sing-box/config.json.template