/.idea

data
logs

standalone/gitea/rootless/config/gitea/app.ini
.runner_token

standalone/qbittorrent/config

standalone/aria2/download

# jellyfin
standalone/jellyfin/cache
standalone/jellyfin/config
standalone/jellyfin/media

standalone/moviepilot/config
standalone/moviepilot/core

local/download

standalone/jellyfin/metatube/config

standalone/dae/config