include:
  - ../commons/docker-compose-application-include.yaml

services:
  aria2:
    container_name: aria2
    image: roukaixin/aria2:release-1.37.0
    environment:
      LISTEN_PORT: ${LISTEN_PORT}
      DHT_LISTEN_PORT: ${DHT_LISTEN_PORT}
      RPC_SECRET: ${RPC_SECRET}
    ports:
      - "6800:6800"
      - "${LISTEN_PORT}:${LISTEN_PORT}"
      - "${DHT_LISTEN_PORT}:${DHT_LISTEN_PORT}/udp"
    volumes:
      - "aria2:/aria2/download"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "1"

  ariang:
    image: p3terx/ariang
    container_name: ariang
    ports:
      - "6880:6880"
    restart: unless-stopped
    depends_on:
      - aria2
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "1"