name: application

services:
  jellyfin:
    image: "ghcr.io/jellyfin/jellyfin:10.11.3"
    container_name: "jellyfin"
    hostname: "jellyfin"
    volumes:
      - "./config/jellyfin:/config"
      - "./cache:/cache"
      - "/usr/share/fonts:/usr/share/fonts:ro"
      - "./data:/media/jellyfin"
      - "../qbittorrent/data:/media/qbittorrent:z"
    restart: 'unless-stopped'
    ports:
      - "8096:8096"
    user: "${UID}:${GID}"
    depends_on:
      - metatube

  metatube:
    image: "ghcr.io/metatube-community/metatube-server:dev"
    container_name: "metatube"
    hostname: "metatube"
    restart: 'unless-stopped'
    volumes:
      - ./config/metatube:/config
    environment:
      MT_MOVIE_PROVIDER_JAVBUS__PRIORITY: 1100
    command:
      - "-dsn"
      - "/config/metatube.db"