name: application

services:
  moviepilot:
    image: "ghcr.io/jxxghp/moviepilot:2.9.0"
    stdin_open: true
    tty: true
    container_name: moviepilot
    hostname: moviepilot
    ports:
      - '3000:3000'
      - '3001:3001'
    volumes:
      - './data/media:/media'
      - './config:/config'
      - './core:/moviepilot/.cache/ms-playwright'
    environment:
      NGINX_PORT: 3000
      PORT: 3001
      PUID: 1000
      PGID: 1000
      UMASK: 000
      TZ: Asia/Shanghai
      SUPERUSER: admin
      MOVIEPILOT_AUTO_UPDATE: false
      AUTO_UPDATE_RESOURCE: true
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "1"