name: application

services:
  navidrome:
    image: "ghcr.io/navidrome/navidrome:0.59.0"
    user: 1000:1000
    ports:
      - "4533:4533"
    restart: unless-stopped
    volumes:
      - "./data/data:/data"
      - "./data/music:/music:ro"
    environment:
      ND_ENABLEINSIGHTSCOLLECTOR: false
      ND_DEFAULTLANGUAGE: "zh-Hans"