services:
  tailscale:
    image: tailscale/tailscale:v1.20.1
    container_name: tailscale
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
      - PERFMON
    devices:
      - /dev/net/tun
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_EXTRA_ARGS=--accept-dns=false --advertise-routes=${ADVERTISE_ROUTES}
      - TS_USERSPACE=false
      - TS_LOCAL_ADDR_PORT=${TS_LOCAL_ADDR_PORT}
    sysctls:
      net.ipv4.ip_forward: "1"
      net.ipv6.conf.all.forwarding: "1"
    volumes:
      - ./data:/var/lib/tailscale
    networks:
      my-tailscale-bridge:
        ipv4_address: 172.188.0.10
    dns:
      - 172.188.0.1

networks:
  my-tailscale-bridge:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: tail-br0
    ipam:
      config:
        - subnet: 172.188.0.0/24
          gateway: 172.188.0.1